html {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  padding: 4rem;
  line-height: 1.5;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', monospace;
  margin: 1rem 0;
  /* color: #8800cc; */
  /* color: #cc99ff; */
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  /* color: #FF5733; */
  /* color: #82E0AA; */
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav li {
  font-size: 17px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
  /* color: #0099ff; */
  /* color: #8800cc; */
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post .body {
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
  width: 10%;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}

select {
  width: 10%
}

.back-to-top {
    /* background-color: #000000;
    color: #FFFFFF; */
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 250px;
    bottom: 200px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 0%;
}

  .back-to-top.show {
       opacity: 1;
  }

table {
  width: 100%;
}

th {
  text-align: left;
  padding-bottom: 20px;
}

#poem > p {
  background: -webkit-linear-gradient(#000000, #8800cc, #0099ff, #009999);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
