<!doctype html>
<title>Dream Pigeon</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<nav>
  <a class="action" href="{{ url_for('index') }}"><h1>DREAM PIGEON</h1></a>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
