<nav>
  <h1 class="index">SEVERAL ROTATIONS</h1>
</nav>
{% extends 'base.html' %}
{% block content %}
  </br>
  <p>This is the last poem of the book SEVERAL ROTATIONS. If you've read the first poems of the book, what you generate here can be the end of the book for you, or not.</p>
  <p>Everything you or anyone else generates here is stored in a database and is a cumulative and continuous end to the book as well. Eventually, some or all of it might show up here.</p>
  <p>The code for this site is at <a href="https://github.com/jseldess/several-rotations/tree/master/flask" target="_blank">https://github.com/jseldess/several-rotations</a>.</p>
  </br>
  <form method="post">
    <label for="max_sections">How many sections in the poem?</label>
    <input name="max_sections" id="max_sections" type="number" value="10">
    <label for="max_sections">How many lines of text per section?</label>
    <input name="lines_per_section" id="lines_per_section" type="number" value="10" required>
    <!-- <label for="max_lines">Max lines of text?</label>
    <input name="max_lines" id="max_lines"> -->
    <label for="repeat">Can lines repeat?</label>
    <select name="repeat">
      <option value="True" selected>Yes</option>
      <option value="False">No</option>
    </select><br>
    <input type="submit" value="Generate">
  </form>
{% endblock %}
