<span id="top"></span>

<nav>
  <h1>{{ created }} UTC</h1>
  <ul>
    <li><span id="timer"></li>
    <li><a href="{{ url_for('select') }}">Recent</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
  </ul>
</nav>

{% extends 'base.html' %}

{% block content %}

  <article class="post">
    <div id="poem" class="body">
      <p>{{ poem }}</p>
    </div>
    <!-- Adds the back to top link -->
    <h1><a href="#top" id="back-to-top" class="back-to-top" style="display: inline;">&uarr;</a></h1>
  </article>

  <script>
    // Countdown clock to next auto-generation
    document.getElementById('timer').innerHTML =
      10 + ":" + 01;
    startTimer();

    function startTimer() {
      var presentTime = document.getElementById('timer').innerHTML;
      var timeArray = presentTime.split(/[:]+/);
      var m = timeArray[0];
      var s = checkSecond((timeArray[1] - 1));
      if(s == 59){m = m-1}
      if(presentTime == "0:01") {location.reload();}

      document.getElementById('timer').innerHTML =
        m + ":" + s;
      setTimeout(startTimer, 1000);
    }

    function checkSecond(sec) {
      if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
      if (sec < 0) {sec = "59"};
      return sec;
    }

    // Fades in the button when you scroll down
      var link = document.getElementById("back-to-top");
      var amountScrolled = 1000;

    function addClass(el, className) {

        if (el.classList) {
            el.classList.add(className);
        } else {
            el.className += ' ' + className;
        }

    }

    function removeClass(el, className) {
        if (el.classList)
          el.classList.remove(className);
        else
          el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
    }

    window.addEventListener('scroll', function(e) {
         if ( window.scrollY > amountScrolled ) {
             addClass(link, 'show');
         } else {
             removeClass(link, 'show');
         }
     });
  </script>

{% endblock %}
