<span id="top"></span>

<nav>
  <h1>{{ created }} UTC</h1>
  <ul>
    <li><a href="{{ url_for('index') }}">Latest</a></li>
    <li><a href="{{ url_for('select') }}">Previous</a></li>
    <li><a href="{{ url_for('about' )}}">About</a></li>
  </ul>
</nav>

{% extends 'base.html' %}

{% block content %}

  <article class="post">
    <div id="poem" class="body">
      <p style="background:-webkit-linear-gradient(#000000,{{ gradient }});-webkit-background-clip:text;-webkit-text-fill-color:transparent;">{{ poem }}</p>
    </div>
    <p></p>
    <p>--</p>
    <p style="font-size: 17px">{% if previous %}<a class="action" id="paginate" href="{{ url_for('read', id=previous) }}">Previous</a>{% endif %} / {% if next %}<a class="action" id="paginate" href="{{ url_for('read', id=next) }}">Next</a>{% endif %}</p>
    <!-- Adds the back to top link -->
    <h1><a href="#top" id="back-to-top" class="back-to-top" style="display: inline;">&uarr;</a></h1>
  </article>

  <script>
    // Fades in the back-to-top icon when you scroll down
    var link = document.getElementById("back-to-top");
    var amountScrolled = 1000;

    function addClass(el, className) {

        if (el.classList) {
            el.classList.add(className);
        } else {
            el.className += ' ' + className;
        }

    }

    function removeClass(el, className) {
        if (el.classList)
          el.classList.remove(className);
        else
          el.className = el.className.replace(new RegExp('(^|\\b)' + className.split(' ').join('|') + '(\\b|$)', 'gi'), ' ');
    }

    window.addEventListener('scroll', function(e) {
         if ( window.scrollY > amountScrolled ) {
             addClass(link, 'show');
         } else {
             removeClass(link, 'show');
         }
     });
  </script>

{% endblock %}
