{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Generate a new poem{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    How many lines of text do you want?
    <select name="max_lines">
      <option value="2">2</option>
      <option value="5">5</option>
      <option value="10" selected>10</option>
      <option value="13">13</option>
      <option value="21">21</option>
      <option value="34">34</option>
      <option value="40">40</option>
      <option value="56">56</option>
      <option value="100">100</option>
      <option value="">Unlimited</option>
    </select><br>
    Is it ok to repeat lines?
    <select name="repeat">
      <option value="True">Yes</option>
      <option value="False" selected>No</option>
    </select><br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}
